@model AppUser
<script src="~/js/script.js"></script>


<div class="card ">
    <h1 class="card-title">
        @Model.UserName
        <img id="myPicture" class="card-img-top" src="" />
        <vc:friends add="true"
                    name="@Model.UserName">
        </vc:friends>
    </h1>
   
  
    

</div>