@model CommentListViewModel
@{
    ViewData["Title"] = "AllComments";
}



@foreach (var item in Model.GetUser)
{
<div class="card">
    <h2 class="card-header">@item.Name</h2>
    <h2 class="card-body">@item.Message</h2>
</div>
   
}

