@model ProjektuppgiftAspDotNet.Models.AppUser

<title>jQuery UI Autocomplete - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript">


    $(document).ready(function () {
        $("#tags").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/AutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(item);
                            return { label: item.value, value: item.value };
                        }))

                    }
                })
            }
        });
    })

    $(function () {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme",

        ];


        $("#tagsb").autocomplete({
            source: availableTags
        });
    });


</script>



<div class="ui-widget">
    <label for="tagsb">Tags: </label>
    <input id="tagsb">
</div>

<form asp-action="Search" role="form"
      method="post">
    <input id="tags"  asp-for="Email" type="text" name="Prefix" class="form-control"/>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = 
    new { @class = "form-control", @name = "Prefix" } })

    <input type="submit" class="auto" />
</form>










