@model AppUser

    <form method="post" asp-controller="Friends" asp-action="Index">
        <input type="hidden" name="add" value="true" checked />
        <input type="hidden" name="name" value="@Model.UserName"  />
        <input type="submit" value="add friend"/>
    </form>
   