@model AppUser

    <form method="post" asp-controller="Friends" asp-action="Index">
        <input type="checkbox" name="add" value="true" />
        
        <input type="submit" value="add friend"/>
    </form>
   